
@model DmsApp.Web.Models.GroupItemModel
@{
    ViewData["Title"] = "Scoring Menu";
}

<div class="row">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="mb-3">Scoring Menu</h4>

                <form asp-action="Scoring" method="post" class="row g-3">
                    
                </form>
            </div>
        </div>
    </div>
</div>
