@using DmsApp.Web.Models.ViewModel

@model ScoringViewModel
@{
    ViewData["Title"] = "Scoring Menu";
}

<div class="row">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="mb-3">Scoring Menu</h4>

                <form asp-action="Scoring" method="post" class="row g-3">
                    <div class="col-md-4">
                        <label asp-for="InformasiAplikasi.NomorApplikasi" ></label>
                        <input asp-for="InformasiAplikasi.NomorApplikasi" class="form-control" />
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label asp-for="InformasiAplikasi.Nama"></label>
                        <input asp-for="InformasiAplikasi.Nama" class="form-control" />
                    </div>
                    <hr />
                    <div class="col-md-4">
                        <label asp-for="InformasiAplikasi.TempatLahir"></label>
                        <input asp-for="InformasiAplikasi.TempatLahir" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label asp-for="InformasiAplikasi.TanggalLahir"></label>
                        <input asp-for="InformasiAplikasi.TanggalLahir" class="form-control" type="date" />
                    </div>
                    
                    <div class="col-md-4">
                        <label asp-for="InformasiAplikasi.JenisKelamin"></label>
                        <input asp-for="InformasiAplikasi.JenisKelamin" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label asp-for="InformasiAplikasi.Alamat" class="form-label"></label>
                        <textarea asp-for="InformasiAplikasi.Alamat" class="form-control" rows="2"></textarea>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="InformasiAplikasi.KodePos" class="form-label"></label>
                        <input asp-for="InformasiAplikasi.KodePos" class="form-control"  />
                    </div>
                    <hr />

                    @* Informasi 1 *@
                    <div class="col-md-4">
                        <label asp-for="GroupItem.UmurPemohon"></label>
                        <select asp-for="GroupItem.UmurPemohon" class="form-select">
                            <option value="0">-- Select --</option>
                            <option value="25">56 - 65 Tahun</option>
                            <option value="50">21 - 30 Tahun</option>
                            <option value="100">31 - 45 Tahun</option>
                            <option value="75">46 - 55 Tahun</option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.UmurPemohonPlusTenor" class="form-label"></label>
                        <select asp-for="GroupItem.UmurPemohonPlusTenor" class="form-select">
                            <option value="0">-- Select --</option>
                            <option value="25"> Diatas Ketentuan</option>
                            <option value="100">Dibawah Ketentuan</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.StatusPerkawinan" class="form-label"></label>
                        <select asp-for="GroupItem.StatusPerkawinan" class="form-select">
                            <option value="0">-- Select --</option>
                            <option value="25">Belum Kawin dengan > 2 tanggungan</option>
                            <option value="45">Belum Kawin dengan <= 2 tanggungan</option>
                            <option value="65">Belum Kawin dengan 0 tanggungan</option>
                            <option value="85">Kawin dengan > 2 tanggungan</option>
                            <option value="100">Kawin dengan <= 2 tanggungan</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label asp-for="GroupItem.Pendidikan" class="form-label" ></label>
                        <select asp-for="GroupItem.Pendidikan" class="form-select">
                            <option value="0">-- Select --</option>
                            <option value="25">SMA atau dibawahnya</option>
                            <option value="50">D1, D2, D3, D4</option>
                            <option value="75">S1</option>
                            <option value="100">Master atau diatasnya(S2, S3)</option>
                        </select>
                    </div>
                    <hr/>

                    @* Informasi 2 *@
                    <div class="col-8">
                        <label asp-for="GroupItem.AlamatTempatTinggal" class="form-label"></label>
                        <select asp-for="GroupItem.AlamatTempatTinggal" class="form-select">
                            <option value="0">-- Select --</option>
                            <option value="25">Tidak sesuai dengan data Bank</option>
                            <option value="100">Sesuai dengan data Bank</option>
                        </select>
                    </div>
                    <div class="col-8">
                        <label asp-for="GroupItem.KepemilikanTempatTinggal" class="form-label"></label>
                        <select asp-for="GroupItem.KepemilikanTempatTinggal" class="form-select">
                            <option value="0">-- Select --</option>
                            <option value="25">Lain-lain</option>
                            <option value="50">Sewa / Kontrak</option>
                            <option value="75">Milik sendiri masih diangsur</option>
                            <option value="100">Milik Sendiri</option> 
                        </select>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-8">
                        <label asp-for="GroupItem.LamaMenempati" class="form-label"></label>
                        <select asp-for="GroupItem.LamaMenempati" class="form-select">
                            <option value="0" > -- Select -- </option>
                            <option value="25"> <= 2 Tahun</option>
                            <option value="50"> > 2 - 5 Tahun</option>
                            <option value="75"> > 5 - 8 Tahun</option>
                            <option value="100"> > 8 Tahun</option>
                        </select>
                    </div>
                    <hr/>

                    @* Informasi 3 *@
                    <div class="col-6">
                        <label asp-for="GroupItem.KategoriPerusahaan" class="form-label"></label>
                        <select asp-for="GroupItem.KategoriPerusahaan" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="100"> Lembaga Departemen </option>
                            <option value="25"> BUMD </option>
                            <option value="100"> SWASTA tidak punya rating </option>
                            <option value="25"> SWASTA dengan rating </option>
                            <option value="75"> SWASTA Kategori I </option>
                            <option value="50"> SWASTA Kategori II </option>
                            <option value="0"> SWASTA Kategori III </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="GroupItem.Jabatan" class="form-label"></label>
                        <select asp-for="GroupItem.Jabatan" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="25"> Staff </option>
                            <option value="75"> Direktur </option>
                            <option value="100"> Komisaris </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="GroupItem.LamaBekerja" class="form-label"></label>
                        <select asp-for="GroupItem.LamaBekerja" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="25"> <= 2 Tahun </option>
                            <option value="50"> > 2 - 5 Tahun </option>
                            <option value="75"> > 5 - 10 Tahun </option>
                            <option value="100"> > 10 Tahun </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.PendapatanTHP" class="form-label"></label>
                        <select asp-for="GroupItem.PendapatanTHP" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="25"> <= Rp 10 juta </option>
                            <option value="50"> > Rp 10 - Rp 25 juta </option>
                            <option value="75"> > Rp 25 - Rp 50 juta </option>
                            <option value="100"> > Rp 50 juta </option>
                        </select>
                    </div>
                    <hr/>

                    @* Informasi 4 *@
                    <div class="col-md-6">
                        <label asp-for="GroupItem.RekeningBank" class="form-label"></label>
                        <select asp-for="GroupItem.RekeningBank" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="25"> Tidak ada</option>
                            <option value="50"> Tabungan </option>
                            <option value="75"> Giro </option>
                            <option value="100"> Tabungan/Giro + Deposito </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for ="GroupItem.RataSaldoPerBulan" class="form-label"></label>
                        <select asp-for ="GroupItem.RataSaldoPerBulan" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="25"> <= Rp 10 juta</option>
                            <option value="50"> Rp 10 - Rp 25 juta </option>
                            <option value="75"> Rp 25 - Rp 50 juta </option>
                            <option value="100"> > Rp 50 juta </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.TrackRecordPembayaran" class="form-label"></label>
                        <select asp-for="GroupItem.TrackRecordPembayaran" class="form-select">
                            <option value="0"> --Select-- </option>
                            <option value="25"> Peminjam Baru </option>
                            <option value="50"> Angsuran terlambat tapi lancar </option>
                            <option value="100"> Angsuran tepat waktu </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.TrackDataSLIK" class="form-label"></label>
                        <select asp-for="GroupItem.TrackDataSLIK" class="form-select">
                            <option value="0"> --Select-- </option>
                            <option value="0"> Kolektibilitas 3 sd 5 </option>
                            <option value="50"> Ada tunggakan < 3 bulan </option>
                            <option value="75"> Tidak ada fasilitas </option>
                            <option value="100"> Lancar </option>
                         </select>
                    </div>
					<div class="col-md-6">
						<label asp-for="GroupItem.KepemilikanKartuKredit" class="form-label"></label>
						<select asp-for="GroupItem.KepemilikanKartuKredit" class="form-select">
	                        <option value="0"> --Select-- </option>
	                        <option value="25"> Tidak ada </option>
	                        <option value="50"> Basic </option>
	                        <option value="75"> Gold </option>
	                        <option value="100"> Platinum atau diatasnya </option>
                        </select>
					</div>
                    <hr />

                    @* Informasi 5 *@
                    <div class="col-md-6">
                        <label asp-for="GroupItem.Tenor" class="form-label"></label>
                        <select asp-for="GroupItem.Tenor" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="25"> > 15 Tahun </option>
                            <option value="50"> > 10 - 15 Tahun </option>
                            <option value="75"> > 5 - 10 Tahun </option>
                            <option value="100"> <= 5 Tahun </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.DebtServiceRatio" class="form-label"></label>
                        <select asp-for="GroupItem.DebtServiceRatio" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="0"> > 50% </option>
                            <option value="50"> > 40 - 50% </option>
                            <option value="75"> > 30 - 40% </option>
                            <option value="100"> > <= 30% </option>
                        </select>
                    </div>
                    <hr/>

                    @* Informasi 6 *@
                    <div class="col-md-6">
                        <label asp-for="GroupItem.HasilAppraisal" class="form-label"></label>
                        <select asp-for="GroupItem.HasilAppraisal" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="0"> Tidak Direkomendasikan </option>
                            <option value="100"> Marketable </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.LuasBangunan" class="form-label"></label>
                        <select asp-for="GroupItem.LuasBangunan" class="form-select">
                            <option value="0"> -- Select -- </option>
                            <option value="25"> > 200 M2 </option>
                            <option value="50"> > 100 - 200 M2 </option>
                            <option value="75"> > 45 - 100 M2 </option>
                            <option value="100"> <= 45 M2 </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.TujuanPembiayaan" class="form-label"></label>
                        <select asp-for="GroupItem.TujuanPembiayaan" class="form-select">
                            <option value="0"> --Select-- </option>
                            <option value="25"> Lain-lain </option>
                            <option value="50"> Disewakan/Investasi </option>
                            <option value="75"> Renovasi </option>
                            <option value="100"> Pertama & Ditempati Sendiri </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="GroupItem.LTV" class="form-label"></label>
                        <select asp-for="GroupItem.LTV" class="form-select">
                            <option value="0"> --Select-- </option>
                            <option value="25"> LTV > 90% </option>
                            <option value="50"> LTV > 80% </option>
                            <option value="75"> LTV > 70% </option>
                            <option value="100"> LTV <= 70% </option>
                            <option value="0"> LTV > 100% </option>
                        </select>
                    </div>
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
